.nightmares-container {
  padding-right: 0;
}

.add-nightmare-btn {
  height: 50px;
  order: 100;
}

.nightmare {
  overflow: hidden;
}

.nightmare-checkbox-container {
  width: 43px;
  float: left;
}

.nightmare-checkbox {
  width: 25px;
  height: 25px;
}

.nightmare-image-container {
  max-width: 65px;
  float: left;
}

.nightmare-image {
  max-width: 50px;
}

.nightmare-effect {
  width: 15px;
  height: 15px;
}